<footer>
 <div class="bootstrap-wrapper  bg-dark-black w-full  pb-8">
  <div class="centered-container mx-auto flex items-center">
    <div class="flex flex-wrap w-full">
      <div class="w-full sm:w-1/2 lg:w-1/4 mt-8 pr-4">
        <h4 class="text-white border-l-4 font-medium border-green pl-2 text-2xl">Contact Us</h4>
        <p class="text-[#999999]">Aenean dignissim ante eu purus dictum, feugiat element erat luctus. Integer scelerisque, diam nec condimentum facilisis.</p>
        <ul class="mt-4">
          <li><i class="fa fa-phone mr-2 text-[#44bbad]"></i> Tel : <a href="tel:+22 1234 56789">+22 1234 56789</a></li>
          <li><i class="fa fa-envelope mr-2 text-[#44bbad]"></i> Email : <a href="mailto:marketing@gmail.com">marketing@gmail.com</a></li>
          <li><i class="fa fa-map-marker text-[#44bbad] mr-2" aria-hidden="true"></i> Address: 6 Bis Rue Meyerbeer</li>
        </ul>
        <h4 class="mt-4 text-white text-2xl font-medium border-l-4 border-green pl-2">Follow Us</h4>
        <div class="social">
          <!-- <a href=" " class="bg-sky-700 p-4 shadow-sm w-16 h-16 leading-8 rounded-full text-white"></a> -->
          <a href=""><i class="fa fa-facebook"></i></a>
          <a href=""><i class="fa fa-twitter"></i></a>
          <a href=""><i class="fa fa-youtube"></i></a>
          <a href=""><i class="fa fa-instagram"></i></a>
        </div>
      </div>
      <div class="w-full sm:w-1/2 lg:w-1/4 mt-8 pr-4">
        <h4 class="text-white text-2xl border-l-4 font-medium border-green pl-2">Quick Links</h4>
        <ul class="link-1">
          <li><a href="about.html"><i class="fa fa-angle-right text-[#999999]"></i> About Us</a></li>
          <li><a href="services.html"><i class="fa fa-angle-right text-[#999999]"></i> Our Services</a></li>
          <li><a href="blog.html"><i class="fa fa-angle-right text-[#999999]"></i> Blog</a></li>
          <li><a href="team.html"><i class="fa fa-angle-right text-[#999999]"></i> Team</a></li>
          <li><a href="faq.html"><i class="fa fa-angle-right text-[#999999]"></i> FAQ</a></li>
          <li><a href="location.html"><i class="fa fa-angle-right text-[#999999]"></i> Location</a></li>
          <li><a href="contact.html"><i class="fa fa-angle-right text-[#999999]"></i> Contact</a></li>

        </ul>
      </div>
      <div class="w-full sm:w-1/2 lg:w-1/4 mt-8 pr-4">
        <h4 class="text-white text-2xl border-l-4 font-medium border-green pl-2">Our Services</h4>
        <ul class="link-1">
         <li><a href="field-marketing.html"><i class="fa fa-angle-right"></i> Field Marketing</a></li>
         <li><a href=""><i class="fa fa-angle-right text-[#999999]"></i> Experiential Marketing</a></li>
         <li><a href=""><i class="fa fa-angle-right text-[#999999]"></i> Product Demos/Sampling</a></li>
         <li><a href=""><i class="fa fa-angle-right text-[#999999]"></i> Merchandising</a></li>
         <li><a href=""><i class="fa fa-angle-right text-[#999999]"></i> Promo Staff/Models</a></li>
         <li><a href=""><i class="fa fa-angle-right text-[#999999]"></i> Digital Marketing</a></li>
         <li><a href=""><i class="fa fa-angle-right text-[#999999]"></i> Live Events, Exhibitions</a></li>
         <li><a href=""><i class="fa fa-angle-right text-[#999999]"></i> Ethnic marketing</a></li>
       </ul>
     </div>
     <div class="w-full sm:w-1/2 lg:w-1/4 mt-8">
      <h4 class="text-white text-2xl border-l-4 font-medium border-green pl-2">Company</h4>
      <ul class="link-1">
       <li><a href="privacy-policy.html"><i class="fa fa-angle-right text-[#999999]"></i> Privacy Policy</a></li>
       <li><a href="terms-conditions.html"><i class="fa fa-angle-right text-[#999999]"></i> Terms & Conditions</a></li>
       <li><a href=""><i class="fa fa-angle-right text-[#999999]"></i> Site Map</a></li>
     </ul>
   </div>
 </div>
</div>
</div>
</footer>