
<div class="full-width-locator py-10 md:py-16">
  <div class="panel md:pr-7">

    <div class="header-section">
        <div class="lp-param lp-param-{$customizationInstanceID}-headline">
            <!-- <h1>Locations near you</h1> -->
        </div>
      <div class="directions"></div>
      <div class="error-text"></div>
      <div class="border-gray-400 bg-white  rounded-full shadow-sm w-full px-3 py-2 flex items-center focus:outline-none relative">
        <button class="search-bar-icon ml-2" aria-label="Search bar icon" id="search-location-button" type="submit" onclick="this.blur();">
          {{> icon-search fillColor="#333333"}}
        </button>
        <input
          class="bg-transparent w-full mx-0 focus:outline-0 ring-0 focus:ring-0 rounded-none !outline-0 !border-none focus:border-none focus:shadow-none"
          type="text"
          id="location-input"
          placeholder="Enter ZIP Code or Address"
          aria-label="E.g. New York" autocomplete="off"

        />
        
         <button class="search-location-arrow mr-2" title="Search using your current location!" id="useLocation">
          {{> icon-location-arrow fillColor="#333333"}}
        </button>
        <div id="match-list" class="bg-white absolute top-full left-0 w-full z-10 shadow-md rounded-xl"></div>
      </div>
      <div class="search-center"></div>
    </div>
    <div class="spinner" style="display: none;">
      <div class="sk-wave">
        <div class="sk-rect sk-rect1"></div>
        <div class="sk-rect sk-rect2"></div>
        <div class="sk-rect sk-rect3"></div>
        <div class="sk-rect sk-rect4"></div>
        <div class="sk-rect sk-rect5"></div>
      </div>
    </div>

    <div class="result-list mt-3">
      <div class="result-list-inner grid gap-y-1">

      </div>
       <div>
         <!-- <div><div class="btn btn-link btn-block viewMoreBtnDiv" style="display:none;" > -->
          
    <!-- <button id="viewMoreBtn" >Next</button>
    </div></div>
    <div><div class="btn btn-link btn-block viewlessBtnDiv" style="display:none;" >
    <button id="viewlessBtn" >previous</button>
    </div></div> -->
    </div>
    </div>
     <div class="custom-pagination-links mb-5 mt-5"></div>

  </div>

  <div id="map" class="md:!sticky md:top-[72px] h-96 md:h-screen"></div>
</div>
<div id="js-locator" data={{global.liveApiKey}} >
</div>
<script>
  window.mapsLoader && window.mapsLoader.then(() => {
    const script = document.createElement('script');
    script.src = 'locator.js';
    script.async = true;
    script.defer = true;
    script.type = 'text/javascript';
    document.getElementById('js-locator').appendChild(script);
  }).catch(() => alert('Could not load Google Maps. Please check that your API key is valid.'));
</script>