<header class="fixed w-full top-0 left-0 z-10 bg-gradient-to-r from-green to-emerald-400">
  <div class="">
    <nav class="navigation justify-between flex flex-row items-center px-4 py-2.5">
      <!-- Logo -->
      <div class="logo px-4">
        <a href="index.html">
          <img src="images/logo.png">
        </a>
      </div>
      <!-- Navigation -->
      <ul class="menu-list px-4 justify-between flex items-center text-white text-base">
        <li class="mx-3 2xl:mx-7"><a href="index.html"
            class="leading-9 inline-block hover:no-underline relative after:content[''] after:absolute after:-bottom-1 after:left-0 after:bg-white after:h-1 after:w-full after:transition-all after:duration-300 after:transform after:scale-x-0 after:origin-bottom-right hover:after:scale-100 hover:after:origin-bottom-left">Home
          </a></li>
        <li class="mx-3 2xl:mx-7"><a href="#"
            class="leading-9 inline-block hover:no-underline relative after:content[''] after:absolute after:-bottom-1 after:left-0 after:bg-white after:h-1 after:w-full after:transition-all after:duration-300 after:transform after:scale-x-0 after:origin-bottom-right hover:after:scale-100 hover:after:origin-bottom-left">About
            Us </a></li>
        <li class="mx-3 2xl:mx-7"><a href="#"
            class="leading-9 inline-block hover:no-underline relative after:content[''] after:absolute after:-bottom-1 after:left-0 after:bg-white after:h-1 after:w-full after:transition-all after:duration-300 after:transform after:scale-x-0 after:origin-bottom-right hover:after:scale-100 hover:after:origin-bottom-left">Services
          </a></li>
        <li class="mx-3 2xl:mx-7"><a href="#"
            class="leading-9 inline-block hover:no-underline relative after:content[''] after:absolute after:-bottom-1 after:left-0 after:bg-white after:h-1 after:w-full after:transition-all after:duration-300 after:transform after:scale-x-0 after:origin-bottom-right hover:after:scale-100 hover:after:origin-bottom-left">Blog
          </a></li>
        <li class="mx-3 2xl:mx-7"><a href="#"
            class="leading-9 inline-block hover:no-underline relative after:content[''] after:absolute after:-bottom-1 after:left-0 after:bg-white after:h-1 after:w-full after:transition-all after:duration-300 after:transform after:scale-x-0 after:origin-bottom-right hover:after:scale-100 hover:after:origin-bottom-left">Team
          </a></li>
        <li class="mx-3 2xl:mx-7"><a href="#"
            class="leading-9 inline-block hover:no-underline relative after:content[''] after:absolute after:-bottom-1 after:left-0 after:bg-white after:h-1 after:w-full after:transition-all after:duration-300 after:transform after:scale-x-0 after:origin-bottom-right hover:after:scale-100 hover:after:origin-bottom-left">Faq
          </a></li>
        <li class="mx-3 2xl:mx-7"><a href="#"
            class="leading-9 inline-block hover:no-underline relative after:content[''] after:absolute after:-bottom-1 after:left-0 after:bg-white after:h-1 after:w-full after:transition-all after:duration-300 after:transform after:scale-x-0 after:origin-bottom-right hover:after:scale-100 hover:after:origin-bottom-left">Location
          </a></li>
        <li class="mx-3 2xl:mx-7"><a href="#"
            class="leading-9 inline-block hover:no-underline relative after:content[''] after:absolute after:-bottom-1 after:left-0 after:bg-white after:h-1 after:w-full after:transition-all after:duration-300 after:transform after:scale-x-0 after:origin-bottom-right hover:after:scale-100 hover:after:origin-bottom-left">Contact
          </a></li>
      </ul>
      <div class="phone-menu hidden">
        <div class="button button-2 get-contact">
          <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
        </div>
        <div class="button button-2 btn-phone">
          <a href="tel:+22123456789" class=""><i class="fa fa-phone" aria-hidden="true"></i></a>
        </div>
      </div>
      <div id="toggle" class="lg:hidden">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
      </div>
      <div class="side-menu flex justify-end items-center px-4">
        <a href="contact.html" class="button button-2 uppercase get-contact"><i class="fa fa-envelope"
            aria-hidden="true"></i><span class="hidden xl:inline-block ml-2"> Get In Touch</span></a>
        <a href="tel:+22123456789" class="button button-2 btn-phone ml-4"><i class="fa fa-phone"
            aria-hidden="true"></i><span class="hidden xl:inline-block ml-2" style="color: #fff">
            +22 1234 56789</span></a>
      </div>
    </nav>

  </div>

</header>