---
{
"stream": {
"$id": "home",
"source": "knowledgeGraph",
"destination": "pages",
"filter": {
"entityTypes": [
"ce_drupalyextLocation"
]
},
"fields": [
"id",
"uid",
"meta",
"name"
],
"localization": {
"locales": ["en"]
}
},
"urlFormat": "index.html"
}
---


<!DOCTYPE html>
<html lang="en">
<head>
    {{>head }}
    <title>Store Locator</title>
    <link rel="shortcut icon" type="image/jpg" href="/images/yext-favicon.png"/>
    <script>
        console.log("defining initMaps Functions");
        var initMapsFunctions = [];
        var initMaps = function(noKey) {
            for (i = 0; i < initMapsFunctions.length; i++) {
                initMapsFunctions[i](noKey);
            }
        }
    </script>
     <script>
         // console.log(twbsPagination);
         function loadScriptAsync(url) {
            return new Promise((resolve, reject) => {
                const script = document.createElement("script");
                script.type = 'text/javascript';
                script.async = true;
                script.defer = true;
                script.onload = resolve;
                script.onerror = reject;
                script.src = url;
                document.head.appendChild(script);
            });
        }
        window.mapsLoader = loadScriptAsync("https://maps.googleapis.com/maps/api/js?key=&callback=initMaps&libraries=places");
    </script>
</head>
<body>
    {{>nav}}
    
</div>
<div class="flex min-h-screen w-full">
    <div class="w-full">
        <div class="centered-container">
            {{>locator}}
        </div>
        <div class="w-full bg-gray-100">
            <div class="centered-container">

            </div>
            {{>footer}}
        </div>
    </div>
</div>
</body>
</html>

