@tailwind base;
@tailwind components;
@tailwind utilities;

/* Header Styline */

.topnav #myLinks {
  display: none;
}
.headerLink {
  @apply font-semibold;
}

/* Map Styling */
#map {
  background-color: #e9ecef;
  flex-grow: 1;
  width: 100%;
}

.search-center {
  margin-top: 1rem;
}
.address{
    color: #3d3a3a;
}
.address h3{
    font-size: 15px;
    color: #000;
}
.text-textblack{
    margin: 0;
    color: #555;
    font-size: 16px;
    font-weight: 700;
}
.directions {
  display: flex;
  justify-content: space-between;
}

.result {
  padding: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #e9ecef;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  overflow: hidden;
}
.result.selected{
  @apply bg-green bg-opacity-10 border-green border-opacity-10;
}
.right-column {
  display: flex;
  align-items: center;
}

.center-column {
  flex-grow: 1;
}

.name {
  font-weight: bold;
}

.left-column {
  width: 2em;
}

.panel {
  display: flex;
  flex-direction: column;
  @apply bg-gray-50 w-full md:w-1/2;
  overflow: hidden;
}

.social i.fa.fa-facebook {
  background: #3b5998;
  }
.social i.fa.fa-youtube {
  background: #bc0505;
}
.social i.fa.fa-instagram {
  background: #0b5184;
}
.social i.fa.fa-twitter {
  background: #ADD8E6 ;
}

.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}
.social i:hover {
  background: #00acb0 !important;
  color: #fff;
}

.social i {
  color: #fff;
  /*margin-right: 8px;*/
  /*padding: 12px;*/
  width: 40px;
  height: 40px;
  font-size: 18px;
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
}



.search-bar {
  display: flex;
}

.search-location-arrow{
  cursor: pointer;
}

.search-bar-icon {
  cursor: pointer;
}

.search {
  margin-left: 0.5rem;
}

.header {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.full-width-locator {
  @apply w-full flex items-start flex-col md:flex-row;
}

.spinner {
  margin: 2rem 0;
  min-height: 40px;
}

.form label {
  @apply text-sm mt-4 block mb-1;
}

.form input {
  @apply border border-green focus:border-green focus:shadow-none w-full block py-1 px-2;
}

.form select {
  @apply border border-green w-full block py-1 px-2;
}

/* Body Styling */

body {
  @apply bg-gray-50 text-[#333];
}

h1 {
  @apply text-3xl font-bold;
}

h2 {
  @apply text-2xl font-bold;
}

h3 {
  @apply text-lg font-bold;
}

h4 {
  @apply text-lg font-bold;
}

.hero {
  background:url(images/luxurystore.jpeg);
  background-position: center;
}

.centered-container {
  @apply mx-auto px-5 lg:px-14 max-w-screen-xl;
}

.skeleton {
  @apply bg-gray-300 animate-pulse rounded-sm;
}

h2.section-header {
  @apply border-b pb-2 mb-3;
}

.section {
  @apply my-16;
}


.btn-primary {
  @apply bg-ll-red text-white border-ll-red focus:ring-2 focus:bg-red-900;
}

.btn-secondary {
  @apply text-ll-red border-ll-red hover:bg-white focus:ring-2 focus:ring-ll-red focus:bg-red-100;
}

.btn-link {
  @apply hover:bg-gray-100 focus:ring-2 focus:bg-gray-100;
}

.error-text {
  color: red;
}

.site-header{
  @apply bg-[#1280ff] py-3 px-4 mb-0;
}

.logo{
  @apply inline-block align-middle;
}
.logo svg{
  @apply w-32 h-10;
}
ul.nav{
  @apply flex flex-row w-full justify-center mt-3;
}
ul.nav a{
  @apply text-white text-[17px] px-[15px] xl:px-[26px] py-2 inline-block align-middle font-semibold;
}

.breadcrumb ul li a{
  @apply inline-block align-middle py-3 after:content-['/'] after:mx-1;
}
.address-block{
  @apply block shadow-md p-5 -mt-8 md:-mt-16 bg-white;
}
.address-block .map-block{
  @apply h-[150px] mb-5;
}

.address-block .map-block img{
  @apply h-[150px] object-cover; 
}

.address-block .btn{
  @apply mt-2 w-full inline-block px-2 py-2.5 bg-green text-white font-medium text-xs leading-normal uppercase rounded hover:bg-green hover:shadow-lg focus:bg-green focus:shadow-lg focus:outline-none active:bg-green active:shadow-lg transition duration-150 ease-in-out;
}

.address-info{
  @apply relative;
}
.address-info .icon{
  @apply w-4;
}
.address-info strong{
  @apply block;
}
.address-info.open-time br{
  @apply hidden;
} 
.address-info.open-time .seetime{
  @apply after:content-[''] after:w-2 after:h-2 after:border-b after:border-r after:inline-block after:border-black after:transform after:rotate-45 after:ml-2 after:relative after:-top-[2px];
}
.storelocation-openCloseTime{
  @apply my-1;
}
.storelocation-openCloseTime strong{
  @apply inline-block;
}
.storelocation-openCloseTime strong:first-child{
  @apply w-10 capitalize;
}

.sec-heading{
  @apply pt-16 md:pt-24 text-2xl text-green font-semibold mb-3;
}

.slide-c{
  @apply !relative text-sm;
}
.slide-c.translate-x-full{
  @apply hidden;
}

.btn {
  @apply border px-4 py-2 rounded transform hover:-translate-y-1 ease-in-out transition-all cursor-pointer hover:shadow-lg  text-center focus:outline-none flex gap-2 items-center justify-center;
}

.slide-c .btn{
  @apply mt-2 w-auto inline-block px-3 py-2.5 bg-green text-white font-medium text-xs leading-normal uppercase rounded hover:bg-green hover:shadow-lg focus:bg-green focus:shadow-lg focus:outline-none active:bg-green active:shadow-lg transition duration-150 ease-in-out;
}
.slide-c h5{
  @apply text-xl text-green font-semibold mb-2;
}
.slider-dots button, .slider-dots button:hover{
  @apply bg-[#ffda00] mx-1;
}
.slider-dots button[aria-current="true"]{
  @apply bg-green;
}

.accordion-sec .accordion-btn{
  @apply h-16 text-white relative flex items-center w-full py-4 px-5 text-base text-left font-bold bg-gradient-to-r from-[#02aab0] to-[#00caac] rounded-none transform focus:outline-none;
}
.accordion-sec .accordion-btn span{
  @apply pr-2;
}
.accordion-sec .accordion-btn svg{
  @apply h-6 w-6 min-w-[24px] text-white ml-auto;
}

.accordion-sec .accordion-btn[aria-expanded="true"] svg{
  @apply transform rotate-45 -right-1 relative;
}

.accordion-sec .accordion-body{
  @apply overflow-hidden bg-white transition-all duration-300 !max-h-96 py-5 px-5;
}
.accordion-sec .accordion-body.hidden{
  @apply !block !max-h-0 py-0;
}




.nearby-store{
  @apply bg-green mt-24 mb-0
}
.address-cta-column{
  @apply text-base;
}
.address-cta-column .name{
  @apply text-base font-semibold text-green mb-3;
}

.find-btn .btn{
  @apply mt-2 w-auto inline-block px-3 py-2.5 bg-[#ffda00] text-green font-medium text-xs leading-normal uppercase rounded focus:bg-green transition duration-150 ease-in-out border-none;  
}
footer{
  background-color: #1f2024;
}
footer ul li{
  @apply mb-2
}
footer ul li a{
  @apply font-semibold text-[#7c7c7c] transform hover:-translate-y-1 ease-in-out duration-300 transition-all cursor-pointer hover:text-green hover:ml-2;
}
footer ul li a:hover i{
  @apply !text-[#44bbad];
}
footer ul li ul {
  @apply mb-5;
}
footer ul li ul li{
  @apply mb-0;
}
footer ul li ul li a{
  @apply font-normal text-[#a7a7a7] 
}

.social-link a{
  @apply w-8 h-8 inline-block align-middle bg-green text-white rounded-full text-center mr-2 mb-2;
}
.social-link a svg{
  @apply align-middle mx-auto mt-[6px] w-4;
}

.shop-sec{
  @apply bg-green pt-5;
}
.promo-img{
  @apply bg-white pb-[56%] inline-block w-full relative align-middle;
}
.prmo-content{
  @apply bg-white p-4 text-sm mt-[3px];
}
.prmo-content h4{
  @apply text-base font-semibold mb-2;
}
.prmo-content .btn{
  @apply mt-2 w-auto inline-block px-3 py-2.5 bg-green text-white font-medium text-xs leading-normal uppercase rounded focus:bg-[#ffda00] transition duration-150 ease-in-out border-none mt-3; 
}
.active.page-btn, .page-btn:hover{
  @apply !bg-green !text-white border-green;
}

.get-contact{ 
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  background-image: linear-gradient(30deg,#ffffff 50%,transparent 50%);
  @apply text-green py-3 xl:px-5 border-2 border-white  w-[52px] xl:w-auto text-center rounded-full }
.get-contact:hover{
  background-position: 100%;
  color: #fff;
}
.btn-phone{
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  background-image: linear-gradient(30deg,#00acb0 50%,transparent 50%) !important;
  @apply border-2 border-white text-white py-3 xl:px-5 w-[52px] xl:w-auto text-center  rounded-full}
.btn-phone:hover{background-position:100%;}
.view-btn{@apply  bg-gradient-to-r from-[#02aab0] to-[#00caac] text-white text-sm py-1 px-7 leading-8  rounded-full mb-auto ml-auto}
.cus_btn{@apply bg-gradient-to-r from-[#02aab0] to-[#00caac] transition-all duration-700 text-white py-3 px-5 mx-auto text-center rounded-full inline-block hover:bg-gradient-to-r hover:from-[#00caac] hover:to-[#02aab0] font-bold}


footer h4{  @apply mb-4}
footer p{  @apply text-neutral-500 text-sm pr-2}
footer li{  @apply text-neutral-500 text-sm}
footer ul li i{ @apply text-green text-sm}

.social a{  @apply rounded-full }


.faq-sec .accordion-sec:nth-of-type(1n+3){display: none;}


.service-content{
  @apply relative z-[1] after:content-[''] after:absolute after:bottom-px after:left-px after:w-[95%] after:h-[95%] after:-z-[1] after:bg-[#3eaeb0] after:rounded-xl after:transition-all after:transform after:rotate-0 after:translate-x-0 after:translate-y-0;
}
.service-content:hover{
  @apply after:-rotate-[2deg] after:translate-x-[5px] after:translate-y-4;
}

.blog .blog-content{
  @apply bg-white p-5 rounded-lg mt-2.5 shadow-lg; 
}
.blog .blog-content .product-name{
  @apply text-lg leading-7 font-bold mb-3 inline-block w-full h-14 overflow-hidden;
}
.blog .blog-content .product-desp{
  @apply text-base leading-7 h-14 overflow-hidden inline-block w-full text-[#5b5b5b];
}
.blog .blog-content .read-more{
  @apply inline-block text-[#02aab0] text-[17px] font-medium py-2.5 relative after:content-[''] after:absolute after:-bottom-1 after:left-0 after:bg-[#02aab0] after:h-1 after:w-full after:transition-all after:duration-300 after:transform after:scale-x-0 after:origin-bottom-left hover:after:scale-100 hover:after:origin-bottom-right;
} 

.mobileservice-list .filter-btn{
    @apply bg-[#e7e7e7] text-black text-center inline-block w-full rounded-full p-2.5 text-sm leading-6 mb-2.5;
}

#menu-btn.active{
  @apply relative;
}
#menu-btn.active span:nth-child(2){
  @apply hidden;
}
#menu-btn.active span:nth-child(1){
  @apply transform rotate-45 absolute top-[7px] left-0;
}
#menu-btn.active span:nth-child(3){
  @apply transform -rotate-45 absolute top-[7px] left-0;
}

#menu-responsive.show{
  @apply max-h-[500px] pb-5;
}


